.rotarFicha {
    transform: rotate(60deg);
}
/*
.gamePage-container {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tiles-container {
    display: flex;
    padding: 10px;
    align-items: flex-end;
}

.text {
    color: black;
}
*/

.gamePage-container {
    position: relative;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../../images/upStreamFondo.jpg');
    background-size: cover;
  }

.tiles-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centra las casillas en el contenedor */
  }

  .tile-image {
    position: absolute;
    bottom: -850px; /* Ajusta la distancia desde la parte inferior de la página */
    right: 20px; /* Ajusta la distancia desde el lado derecho de la página */
    width: 150px; /* Tamaño de la imagen */
  }



/**//**//**//**//**//**//**/
.game-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-left: 550px;
    margin-top: 50px;
    width: 800px;
    height: 1200px;
    border-radius: 10px;
    background-color:  #1e95a2;
    border: solid;
}

.grid1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 75%;
    background-color:  #3A6B76;
}

.grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    height: 25%;
    justify-self: flex-end;
    background-color:  #193963;
}

.grid-item {
    color: white;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    border-radius: 5px;
    margin-top: 10px;
    border: solid #2a554f;
  }

  .grid-item:nth-child(3n + 1) {
    transform: translateY(20px);
  }
  .grid-item:nth-child(3n + 3) {
    transform: translateY(20px);
  }

.users-table {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}

.table-row {
    background-color: white;
    align-items: center;
    justify-content: center;
    padding: 10px;
    text-align: center;
    border-top: 1px solid black;
}

.table-cell {
    background-color: white;
    align-items: center;
    justify-content: center;
    padding: 10px;
    text-align: center;
    border-top: 1px solid black;
}

/* Contenedor principal */
.gamePage-container {
  position: relative;
}

/* Estilos para los títulos */
.game-title {
  position: absolute;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 30px;
}

.game-name {
  position: absolute;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 30px;
  margin-left: 1208px;
}

.game-round {
  position: absolute;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 30px;
  margin-left: 552px;
}

.game-phase {
  position: absolute;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 30px;
  margin-left: 830px;
}

.table-row {
  position: relative;
  padding: 20px;
}

/* Contenedor del siguiente tile */
.next-tile-container {
  cursor: pointer;
  position: absolute;
  bottom: -900px;
  right: 20px;
}

.next-tile-image {
  width: 150px;
}

.grid-item img {
  width: 150px;
}

.grid-item img.sea-tile {
  width: 400px;
}