.createGame-page-container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../../images/upStreamFondo.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.title-creategame{
    display: flex;               
    justify-content: center;             
    padding: 20px;  
    margin-top: 90px;            
    border-radius: 5px;       
    margin-left: 10px; 
    margin-right: 10px;  
    background-color: rgba(255, 255, 255, 0.3); 
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}


.button-create {
    margin-bottom: 5%;
    height: 40px;
    width: 40%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    margin-top: 2%; 
    background-color: rgb(25, 191, 0);
    border-radius: 5px;
    border: none;
}

.custom-button-row {
    margin-top: 20px;
}

.password-container{
    margin-top: 20px;
}

.button-cancel {
    margin-bottom: 5%;
    height: 40px;
    width: 40%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    margin-top: 2%; 
    background-color: rgb(191, 41, 0);
    border-radius: 5px;
    border: none;
}

.form-container {
    border-radius: 5px;   
    background-color: rgba(255, 255, 255, 0.3); 
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    width: 33%;
    margin: 10px;
    padding: 20px;
}

.label-input {
    font-size: 20px;
    
}
