.createGame-page-container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../../images/upStreamFondo.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.title-creategame{
    display: flex;               
    justify-content: center;             
    padding: 20px;  
    margin-top: 90px;            
    border-radius: 5px;   
    border: 2px solid black;      
    margin-left: 10px; 
    margin-right: 10px;  
    color: white;     
}

.inputs-table {
    width: 90%;
    margin: 20px auto;
    border-collapse:collapse;
    background-color: #33678A; 
    color: white;
    align-items: center;
    justify-content: center;
    display:table;
    table-layout: fixed;
}


.td2 {
    padding: 40px;
    text-align: left;
    border-top: 1px solid #517A94;
    font-size: 40px;
}

.input {
    width: 300px;   
    height: 40px;   
    padding: 20px;  
    font-size: 16px; 
    margin-left: 30px;
    margin-bottom: 20px;
    color: #333;
}

input::placeholder {
    color: #888;
    font-size: 14px;
    font-style: italic;
    
}


.botonCreate {
    width: 300px;
}